h4{
    font-weight: bold;
    color: #fbc21d
}
p{
    font-weight: bold;
    color: #fbc21d
}
a{
    font-weight: bold;
    color: #fbc21d
}
img{
    height: 100px; width: 100px
}
.yellow{
    font-weight: bold;
    color: #fbc21d
}
.blue{
    font-weight: bold;
    color: #fbc21d
}
