.mothod {
    margin-top: 10%;
    text-align: center;
}
h4 {
    color: #FFC048;
    background: #003153;
}

p {
    color: #FFC048;
    background: #003153;
}

a {
    color: #FFC048;
    background: #003153;
}

body {
    background: #003153;
    height: 100%;
}