{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="row justify-content-center">
            <div class="col-md-12" style="margin-top: 25%">
                <img src="{% static 'images/logo.svg' %}">
                <h4>明旎路</h4>
            </div>
            <div class="col-md-12" style="margin-top: 25%">
                <h4>官方授权许可正品</h4>
                <h4>Officially licensed products</h4>
            </div>
            <div class="col-md-12" style="margin-top: 25%">
                <div>
                    <p>
                        执行标准：</p>
                </div>
                <div>
                    <a href="http://www.bz.bzko.com/bzxx/56116.html">
                        QB/T2506-2017</a>
                </div>
                <div>
                    <a href="https://wenku.baidu.com/view/edf15852a417866fb94a8e06.html">
                        GB10810.3-2006</a>
                </div>
                <div>
                    <a href="http://openstd.samr.gov.cn/bzgk/gb/newGbInfo?hcno=A587E31519ED1F6BFF23FC9132469137">
                        GB/T 38120-2019 光安全要求</a>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 25%">
                <p>粤ICP备2020134991号</p>
            </div>
        </div>
    </div>
{% endblock %}
