{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!--内容栏-->
    <div class="container text-align`">
        <div class="row">
            <table class="table">
                <tr>
                    <td class="yellow">订单编号</td>
                    <td class="yellow" colspan="6">
                        {{order.order_id}}
                    </td>
                </tr>
                <tr>
                    <td class="yellow">购买时间</td>
                    <td class="yellow" colspan="6">
                        {{order.c_time}}
                    </td>
                </tr>
                <tr>
                    <td class="yellow">镜框信息</td>
                    <td class="yellow" colspan="6">
                        {{order.frame}}
                    </td>
                </tr>
                <tr></tr>
                <tr>
                    <td width="10%" class="yellow">处方信息</td>
                    <td width="15%" class="yellow">产品</td>
                    <td width="15%" class="yellow">球镜:DS</td>
                    <td width="15%" class="yellow">柱镜:DC</td>
                    <td width="15%" class="yellow">轴位:AX</td>
                    <td width="15%" class="yellow">ADD:DS</td>
                    <td width="15%" class="yellow">瞳距:mm</td>
                </tr>
                <tr>
                    <td class="yellow">左眼</td>
                    <td class="yellow">{{order.l_glasses}}</td>
                    <td class="yellow">
                        <b>{{order.l_sphere}}</b>
                    </td>
                    <td class="yellow">
                        <b>{{order.l_astigmatic}}</b>
                    </td>
                    <td class="yellow">{{order.l_deviation}}</td>
                    <td class="yellow">{{order.l_add}}</td>
                    <td class="yellow">{{order.l_pd}}</td>
                </tr>
                <tr>
                    <td class="yellow">右眼</td>
                    <td class="yellow">{{order.r_glasses}}</td>
                    <td class="yellow">
                        <b>{{order.r_sphere}}</b>
                    </td>
                    <td class="yellow">
                        <b>{{order.r_astigmatic}}</b>
                    </td>
                    <td class="yellow">{{order.r_deviation}}</td>
                    <td class="yellow">{{order.r_add}}</td>
                    <td class="yellow">{{order.r_pd}}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
