{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        .col-center-block {
            /*
            在外层添加一个div，把行内容居中，添加.row .justify-content-center
            <div class="row justify-content-center">
            下面是我要居中的div，添加.col-center-block
            <div class="col-center-block col-sm-4 col-xs-4">
             */
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        h4{
            font-weight: bold;
            color: #fbc21d
        }
        p{
            color: #fbc21d
        }
        img{
            height: 70px;
        }
        #head{
            padding-top: 20%;
        }
        #body{
            padding-top: 50%;
            padding-bottom: 50%;
        }
    </style>

    <div class="row justify-content-center">
        <div class="col-center-block col-sm-2 col-xs-2">
            <div align="center">
                <div id="head">
                    <img src="{% static 'images/logo.svgz' %}">
                    <br><br>
                    <h4>明旎路</h4>
                </div>
                <div id="body">
                    <h4>官方授权许可正品</h4>
                    <p>Officially licensed products</p>
                </div>
                <div>
                    <p>执行标准：</p>
                    <p>QB/T2506-2017</p>
                    <p>GB10810.3-2006</p>
                    <p>GB/T 38120-2019 光安全要求</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
