{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>徕可</title>
    <link href="{% static 'img/maneu/logo.svg' %}" rel="icon">
    <link href="{% static 'css/maneu/base.css' %}" rel="stylesheet">

    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link crossorigin="anonymous" 
          href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.8/cerulean/bootstrap.min.css"
          integrity="sha512-3n/Isj9MCqCc1wf/QfjLigco9sx9xr9m3TqgxstJrSxmwZ05qjl4owbfkioZ0y3w8fNWcVLnJGHfVqKF/L1Qsw=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script crossorigin="anonymous"
            integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
            referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script crossorigin="anonymous"
            integrity="sha512-nKXmKvJyiGQy343jatQlzDprflyB5c+tKCzGP3Uq67v+lmzfnZUi/ZT+fc6ITZfSC5HhaBKUIvr/nTLCV+7F+Q=="
            referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.min.js"></script>
    <script crossorgin="anonymous"
            integrity="sha512-MXe5EK5gyK+fbhwQy/dukwz9fw71HZcsM4KsyDBDTvMyjymkiO0M5qqU0lF4vqLI4VnKf1+DIKf1GM6RFkO8PA=="
            referrerpolicy="no-referrer" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
<div class="container">
    <div class="content row justify-content-center">
        <div class="header">
            <img alt="Cinque Terre" class="col-md-2 col-6 img-responsive"
                 src="{% static 'img/maneu/logo.svg' %}">
            <h4>徕可</h4>
        </div>
        <div class="body">
            <h4>官方授权许可正品</h4>
            <p>Officially licensed products</p>
        </div>
        <div class="body">
            <img src="{% static 'img/qrcode.jpg' %}" class="col-md-2 col-6 img-responsive" alt="Cinque Terre">
            <p>微信扫码查看订单</p>
        </div>
    </div>
</div>
</body>

<footer class="fixed-bottom text-center">
    <a href="https://beian.miit.gov.cn" style="color: #FFC048">粤ICP备2023070483号</a>
</footer>
