{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>徕可</title>
    <link rel="icon" href="{% static 'images/maneu/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet"
          href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/popper.js/2.11.2/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.1.3/jquery.min.js"></script>
</head>

<body style="background: #003153;">
<div class="container">
    <div class="content row justify-content-center">
        <div class="mothod">
            <img src="{% static 'img/logo.svg' %}" class="col-md-2 col-6 img-responsive" alt="Cinque Terre">
            <h4>徕可</h4>
        </div>
        <div class="mothod">
            <h4>官方授权许可正品</h4>
            <p>Officially licensed products</p>
        </div>
        <div class="mothod">
            <img src="{% static 'img/qrcode.jpg' %}" class="col-md-2 col-6 img-responsive" alt="Cinque Terre">
            <p>微信扫码查看订单</p>
        </div>
        <div class="mothod">
            <div>
                <p>执行标准：</p>
            </div>
            <div>
                <a href="http://www.bz.bzko.com/bzxx/56116.html">QB/T2506-2017</a>
            </div>
            <div>
                <a href="https://wenku.baidu.com/view/edf15852a417866fb94a8e06.html">GB10810.3-2006</a>
            </div>
            <div>
                <a href="http://openstd.samr.gov.cn/bzgk/gb/newGbInfo?hcno=A587E31519ED1F6BFF23FC9132469137">GB/T38120-2019</a>
            </div>
            <div>
                <p>光安全要求</p>
            </div>
        </div>
        <div class="mothod">
            <a href="https://beian.miit.gov.cn">粤ICP备2020134991号</a>
        </div>
    </div>
</div>
</body>
</html>