<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="padding:5px;background-color: #e0ffff; border-radius:20px; text-align:left;">
    <div style="margin:10px">日期</div>
    <div class="grid-container" style="display: grid; grid-template-columns: auto auto;">
        <div class="grid-item" style="text-align:center;">小瞳</div>
        <div class="grid-item" style="text-align:center;">眼轴</div>
    </div>
    <div class="grid-container" style="display: grid; grid-template-columns: auto auto auto auto auto;">
        <div class="grid-item" style="text-align:center;"></div>
        <div class="grid-item" style="text-align:center;">左</div>
        <div class="grid-item" style="text-align:center;">右</div>
        <div class="grid-item" style="text-align:center;">左</div>
        <div class="grid-item" style="text-align:center;">右</div>
    </div>
</div>
</div>
</body>
</html>