{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row" style="margin: 6%">
        <div class="col-auto" style="text-align: left; width: 20%;">
            <img alt="Cinque Terre" class="img-responsive" src="{% static 'img/maneu/logo.svg' %}">
        </div>
        <div class="col-auto" style="text-align: left;">
            <h1 style="color: #FFC048">徕可官方授权许可正品</h1>
            <h2 style="color: #FFC048">Officially licensed products</h2>
        </div>
    </div>

    <div style="margin: 6%; background: white; border: 1px solid #ddd; border-radius: 24px;">
        <div style="margin: 6%; text-align: left">
            <h1 style="color: black">购买时间：2023年10月26日 23:42</h1>
        </div>

        <div style="margin: 3%; background: whitesmoke; border: 1px solid #ddd; border-radius: 24px;">
            <div style="margin: 3%;">
                <div class="row" style="margin: 3%;">
                    <h1 class="col-11" style="color: black">近视管理系列 - 星状元</h1>
                    <h1 class="col-1" style="color: black;">*1</h1>
                </div>
                <div>
                    <hr style="border-bottom: 3px solid #ddd;">
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">品牌：近视管理系列</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">型号：星状元</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">参数：参数</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">球镜：1.00</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">柱镜：1.00</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">棱镜：1.00</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">下加光：1.00</h2>
                </div>
                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">基底取向：1.00</h2>
                </div>
                                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">瞳距：60</h2>
                </div>
                                <div class="row" style="margin: 3%;">
                    <h2 style="color: black">加工：通用</h2>
                </div>

                <div>
                    <hr style="border-bottom: 3px solid #ddd;">
                </div>
                <div class="row" style="margin: 3%;">
                    <h1 class="col-11" style="color: black">价格</h1>
                    <h1 class="col-1" style="color: black;">100</h1>
                </div>
            </div>
        </div>


        <div style="margin: 6%; text-align: center">
            <img alt="Cinque Terre" class="img-responsive" style="width: 50%" src="{% static 'img/maneu/code.jpg' %}">
        </div>

        <div style="margin: 6%; text-align: center">
            <h1 style="color: black">微信扫码进入小程序了解更多</h1>
        </div>
    </div>

{% endblock %}