{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="row" style="margin: 3%">

        <div class="col-auto" style="text-align: left; width: 20%;">
            <img alt="Cinque Terre" class="img-responsive" src="{% static 'img/maneu/logo.svg' %}">
        </div>

        <div class="col-auto" style="text-align: left;">
            <h1 style="color: #FFC048">徕可官方授权许可正品</h1>
            <h2 style="color: #FFC048">Officially licensed products</h2>
        </div>

    </div>


    <div style="margin: 3%; background: white; border: 1px solid #ddd; border-radius: 24px;">
        {% if status == True %}
            <div style="margin: 3%; text-align: left">
                <h1 style="color: black">购买时间：{{ content.time }}</h1>
            </div>
            {% for data in content.data %}
                <div style="margin: 3%; background: whitesmoke; border: 1px solid #ddd; border-radius: 24px;">
                    <div style="margin: 3%;">

                        {% for key, val in data.items %}
                            {% if forloop.first %}
                                <div class="row" style="margin: 3%;">
                                    <div class="col-2" style="text-align: right;">
                                        <h1 style="color: black">{{ key }}</h1>
                                    </div>
                                    <div class="col-1" style="text-align: center;">
                                        <h1 style="color: black">-</h1>
                                    </div>
                                    <div class="col-auto" style="text-align: left;">
                                        <h1 style="color: black">{{ val }}</h1>
                                    </div>
                                </div>
                                <hr style="border-bottom: 3px solid #ddd;">
                            {% else %}
                                {% if key != '' and val != '' %}
                                    <div class="row" style="margin: 3%;">
                                        <div class="col-2" style="text-align: right;">
                                            <h2 style="color: black">{{ key }}</h2>
                                        </div>
                                        <div class="col-auto" style="text-align: left;">
                                            <h2 style="color: black">{{ val }}</h2>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        {% else %}

            <div style="margin: 3%; text-align: left">
                <h1 style="color: black">购买时间：{{ message }}</h1>
            </div>

        {% endif %}

        <div style="margin: 3%; text-align: center">
            <img alt="Cinque Terre" class="img-responsive" style="width: 50%" src="{% static 'img/maneu/code.jpg' %}">
        </div>

        <div style="margin: 3%; text-align: center">
            <h1 style="color: black">微信扫码进入小程序了解更多</h1>
        </div>

    </div>


{% endblock %}