{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content row justify-content-center" style="background-color: #003153">
    <div class="row" style="margin-top: 10%">
        <div class="col-3" style="text-align: right">
            <img alt="Cinque Terre" class="img-responsive" style="width: 70%" src="{% static 'img/maneu/logo.svg' %}">
        </div>
        <div class="col-9" style="text-align: left">
            <h1 style="color: #FFC048">徕可官方授权许可正品</h1>
            <h2 style="color: #FFC048">Officially licensed products</h2>
        </div>
    </div>

    {% if status == True %}
        <div style="margin-top: 10%; text-align: left; border: 1px solid #ddd; border-radius: 20px; padding: 16px; width: 80%;">
            <div style="margin: 5%;">
                <h1 style="color: #FFC048">购买时间：{{ content.time }}</h1>
            </div>

            {% for i in content.data %}
                {% if i.arg10 != '' and i.arg11 != '' and i.arg12 != '' and i.arg13 != '' %}
                    <hr style="border: 2px solid #ddd; width: 100%">
                    <div style="margin: 5%;">
                        <h1 style="color: #FFC048">{{ i.arg10 }}</h1>
                        <h2 style="color: #FFC048">{{ i.arg11 }}</h2>
                        <h2 style="color: #FFC048">{{ i.arg12 }}</h2>
                        <h2 style="color: #FFC048">{{ i.arg13 }}</h2>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div style="padding-top: 5%; padding-left: 20%; text-align: left;">
            <h1 style="color: #FFC048">错误信息：{{ message }}</h1>
        </div>
    {% endif %}
    <div style="padding-top: 10%; text-align: center;">
        <img alt="Cinque Terre" class="img-responsive" style="width: 50%" src="{% static 'img/maneu/code.jpg' %}">
    </div>
    <div style="padding-top: 5%; text-align: center;">
        <h1 style="color: #FFC048">微信扫码进入小程序了解更多</h1>
    </div>
</div>

{% endblock %}